<br>

<div  class="container  "  style="align-items: center;">

    <form action="https://formsubmit.co/wimbleyfaranani@gmail.com" method="POST" >
        <br>
        
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">enter your message :</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <br>
        <br>
        <!-- <label class="email"for="Email">Please enter your email address :</label>
        <input class="input"type="email" name="email" required> -->

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address :</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        <br>
        <br>
        <button class="mybutton" type="submit">Send</button>

       

        

        
        
    </form>
    <br>

</div>

<br>



