 <br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>My Skills</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="../../../assets/icons8-angularjs.svg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Angular</a></h3>
          
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="../../../assets/icons8-nodejs.svg" class="img-responsive" alt=""></figure>
            <h3><a href="#">Nodejs </a></h3>
            
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="../../../assets/icons8-postgresql.svg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Postgres </a></h3>
           
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: auto;">
              <figure><img src="../../../assets/icons8-mongodb.svg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">MongoDb  </a></h3>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>

          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: auto;">
              <figure><img src="../../../assets/icons8-bootstrap.svg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">html </a></h3>
            
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="http://../../../assets/icons8-mongodb.svg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">css </a></h3>
          
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: auto;">
        <figure><img src="../../../assets/icons8-mongodb.svg" class="img-responsive" alt=""></figure>
        <h3><a href="http://www.webcoderskull.com/">boostrap </a></h3>
      
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        </ul>
      </div>
  </li>

  <li class="col-12 col-md-6 col-lg-3">
    <div class="cnt-block equal-hight" style="height: auto;">
      <figure><img src="../../../assets/icons8-git.svg" class="img-responsive" alt=""></figure>
      <h3><a href="http://www.webcoderskull.com/">sql</a></h3>
    
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>
    </div>
</li>
    </ul>
  </div>
   <div class="cotainer" style="text-align: center;">

   
      <a download="" href="../../../assets/CV_2022041316083363.pdf" class="buy">
       
          <button class="button">Get resume</button>
       
      </a>
    
<!-- 
     <div class="wrap">
      <button class="button">Submit</button>
    </div> -->

   </div>
 

  
</section>

<div class="container">
    <div class="row">
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
     
      </div>

      
    </div>
  </div>


  <section class="projects" id="projects">
    <h2 class="projects-title">Some of my Recent Projects</h2>
    <div class="projects-container">
      <div class="project-container project-card">
        <img
          src="assets/images/expenseTracker.png"
          alt="expense-tracker"
          loading="lazy"
          class="project-pic"
        />
        <h3 class="project-title">Expense Tracker</h3>
        <p class="project-details">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
          ratione vel inventore labore commodi modi quos culpa aut saepe!
          Alias!
        </p>
        <a href="#" target="_blank" class="project-link">Check it Out</a>
      </div>
      <div class="project-container project-card">
        <img
          src="assets/images/netflixClone.png"
          alt="netflic-clone"
          loading="lazy"
          class="project-pic"
        />
        <h3 class="project-title">Netflix Clone</h3>
        <p class="project-details">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
          ratione vel inventore labore commodi modi quos culpa aut saepe!
          Alias!
        </p>
        <a href="#" target="_blank" class="project-link">Check it Out</a>
      </div>
      <div class="project-container project-card">
        <img
          src="assets/images/greenyEarth.png"
          alt="greeny-earth"
          loading="lazy"
          class="project-pic"
        />
        <h3 class="project-title">Greeny Earth</h3>
        <p class="project-details">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
          ratione vel inventore labore commodi modi quos culpa aut saepe!
          Alias!
        </p>
        <a href="#" target="_blank" class="project-link">Check it Out</a>
      </div>
    </div>
  </section>

  