 <br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>My Skills</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="../../../assets/icons8-angularjs.svg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Angular</a></h3>
          
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="../../../assets/icons8-nodejs.svg" class="img-responsive" alt=""></figure>
            <h3><a href="#">Nodejs </a></h3>
            
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="../../../assets/icons8-postgresql.svg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Postgres </a></h3>
           
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: auto;">
              <figure><img src="../../../assets/icons8-mongodb.svg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">MongoDb  </a></h3>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>

          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: auto;">
              <figure><img src="../../../assets/icons8-bootstrap.svg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">html </a></h3>
            
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: auto;">
            <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">css </a></h3>
          
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: auto;">
        <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
        <h3><a href="http://www.webcoderskull.com/">boostrap </a></h3>
      
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        </ul>
      </div>
  </li>

  <li class="col-12 col-md-6 col-lg-3">
    <div class="cnt-block equal-hight" style="height: auto;">
      <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
      <h3><a href="http://www.webcoderskull.com/">sql</a></h3>
    
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="//api.whatsapp.com/send?phone=2726661260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>
    </div>
</li>
    </ul>
  </div>

  
</section>

<div class="container">
    <div class="row">
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
     
      </div>
    </div>
  </div>