

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">	
	
	<div class="product-details">
		
	<h1>Faranani</h1>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
	</span>
		
			<p class="information">" Let's spread the joy , here is Christmas , the most awaited day of the year.Christmas Tree is what one need the most. Here is the correct tree which will enhance your Christmas.</p>

		
		
<div class="control">
	
	<button class="btn">
	 <span class="price">$250</span>
   <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
   <span>
    <a download="" href="../../../assets/CV_2022041316083363.pdf" class="buy">Get Resume</a>
   </span>
   
 </button>
	
</div>
			
</div>
	
<div class="product-image">
	
	
    <img src="../../../assets/Fharanani-4.jpeg" alt="">
 
	

	

<div class="info">
	<h2> Description</h2>
	<ul>
		<li><strong>Course : </strong> Computer Systems </li>
		<li><strong>Campany: </strong>Digital Accademy</li>
		<li><strong>Education: </strong>Tshwane University Of Technology</li>
		<li><strong>High School: </strong>Mbilwi Seconary School</li>
		
	</ul>
</div>
</div>

</div>



    

